:root {
  --headingFont: "PT Sans", sans-serif;
  --paragraphFont: "Open Sans", sans-serif;
  --primaryColor: #784d3c;
  --white: #fff;
  --black: #000;
  --fallbackBgColor: #151515;
  --separatorColor: #e1e1e1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--paragraphFont);
  font-size: 1.6rem;
  line-height: 2;
}

/*
 * Globales
 */

h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*
 * Utilidades
 */

.zero-margin {
  margin: 0;
}

.zero-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.btn {
  color: var(--white);
  display: block;
  font-family: var(--headingFont);
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

.btn--primary {
  background-color: var(--black);
}

.btn--secondary {
  background-color: var(--primaryColor);
}

/*
 * Header
 */

.header {
  background: var(--fallbackBgColor) url("../img/banner.jpg") center center /
    cover no-repeat;
  height: 60rem;
}

@media (min-width: 768px) {
  .header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo__nombre {
  color: var(--white);
  font-weight: 400;
}

.logo__bold {
  font-weight: 700;
}

.navbar {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    column-gap: 2rem;
  }
}

.navbar__link {
  display: block;
  font-size: 1.8rem;
  color: var(--white);
}

.header__text {
  color: var(--white);
  margin-top: 22.5%;
}

@media (min-width: 480px) {
  .header__text {
    margin-top: 15%;
  }
}

@media (min-width: 768px) {
  .header__text {
    margin-top: 25%;
  }
}

@media (min-width: 992px) {
  .header__text {
    margin-top: 13.5%;
  }
}

/*
 * Blog
 */

@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.blog-entry:not(.blog-entry:last-child),
.widget-curso:not(.widget-curso:last-child) {
  border-bottom: 1px solid var(--separatorColor);
  margin-bottom: 2rem;
}

/*
 *  Sidebar Cursos
 */

.cursos {
  list-style-type: none;
}

.widget-curso__label,
.widget-curso__info {
  font-size: 2rem;
}

.widget-curso__label {
  font-family: var(--headingFont);
  font-weight: 700;
}

.widget-curso__info {
  font-family: var(--paragraphFont);
  font-weight: 400;
}
